/* ==========================================================================
    FONTS
========================================================================== */
@font-face {
  font-family: GillSans;
  src: url(../fonts/GILLSANS.ttf);
}
@font-face {
  font-family: GillSansBold;
  src: url(../fonts/GILLSANS-BOLD.ttf);
}
@font-face {
  font-family: GillSansBoldItalic;
  src: url(../fonts/GILLSANS-BOLDITALIC.ttf);
}
@font-face {
  font-family: GillSansItalic;
  src: url(../fonts/GILLSANS-ITALIC.ttf);
}
@font-face {
  font-family: GillSansLight;
  src: url(../fonts/GILLSANS-LIGHT.ttf);
}
@font-face {
  font-family: GillSansLightItalic;
  src: url(../fonts/GILLSANS-LIGHTITALIC.ttf);
}
@font-face {
  font-family: GillSansSemiBold;
  src: url(../fonts/GILLSANS-SEMIBOLD.ttf);
}
@font-face {
  font-family: GillSansSemiBoldItalic;
  src: url(../fonts/GILLSANS-SEMIBOLDITALIC.ttf);
}
@font-face {
  font-family: GillSansUltraBold;
  src: url(../fonts/GILLSANS-ULTRABOLD.ttf);
}
@font-face {
  font-family: Gillubcd;
  src: url(../fonts/GILLUBCD.ttf);
}
@font-face {
  font-family: Gilsanub;
  src: url(../fonts/GILSANUB.ttf);
}
/* ==========================================================================
    LESS
========================================================================== */
.inline-block {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
}
/* ==========================================================================
    GENERAL STYLES
========================================================================== */
html,
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%;
  color: #303030;
  background-color: #ffffff;
  font-size: 16px;
}
ul,
p {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea,
input:active,
textarea:active,
:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
  /* IE < 8 */
}
.clearfix:after {
  clear: both;
}
.list-inline li {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
}
.container {
  width: 1000px;
  margin: 0 auto;
}
/* ==========================================================================
    HEADER
========================================================================== */
.row-top {
  height: 32px;
  padding-top: 10px;
  background-color: #161616;
}
nav li {
  vertical-align: top;
}
nav a {
  font-family: "GillSansSemiBold", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  vertical-align: top;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
nav a:hover,
nav a.active {
  color: #de6761;
}
.nav-top ul {
  float: right;
  padding-left: 0;
  list-style-type: none;
}
.nav-top ul li {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
}
.nav-top li {
  margin-left: 40px;
  line-height: 12px;
}
.nav-top a {
  color: #ffffff;
  font-size: 12px;
}
.row-main {
  height: 70px;
  padding-top: 3px;
}
.logo-main {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  width: 149px;
  height: 55px;
  margin-right: 50px;
  background: url(../img/logo-main.png) no-repeat;
}
.nav-main {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  vertical-align: top;
}
.nav-main ul {
  margin-top: 25px;
}
.nav-main ul li {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
}
.nav-main li {
  margin-left: 70px;
  line-height: 16px;
}
.nav-main li:first-child {
  margin-left: 0;
}
.nav-main a {
  color: #262134;
  font-size: 16px;
}
.cart-block {
  float: right;
  margin-top: 12px;
}
.cart-block .cart-status,
.cart-block .cart {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  vertical-align: top;
}
.cart-block .cart-status {
  color: #000000;
  font-size: 11px;
  font-style: italic;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 12px 12px 0 0;
}
.cart-block .cart {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  width: 27px;
  height: 37px;
  padding-top: 11px;
  text-align: center;
  background: url(../img/cart.png) no-repeat;
  color: #000000;
  font-size: 18px;
  font-family: "GillSansSemiBold", "Open Sans", Helvetica, Arial, sans-serif;
}
.delivery {
  height: 60px;
  padding-top: 22px;
  background-color: #303030;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-family: "GillSansSemiBold", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.delivery .icon-car {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  width: 43px;
  height: 13px;
  margin-right: 5px;
  background: url(../img/car-delivery.png) no-repeat;
}
.delivery span {
  color: #5eccb7;
}
/* ==========================================================================
    MAIN
========================================================================== */
.banner-main {
  height: 520px;
  padding-top: 115px;
  background-image: url(../img/bunner-main.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.banner-main h2 {
  width: 383px;
  height: 215px;
  margin: 0 auto 40px;
  background: url(../img/necklaces.png) no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.btn {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  background-color: #5eccb7;
  color: #ffffff;
  font-size: 12px;
  font-family: "GillSansSemiBoldItalic", "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 3px 3px 0 #ffffff;
  -moz-box-shadow: 3px 3px 0 #ffffff;
  box-shadow: 3px 3px 0 #ffffff;
}
.title-block {
  position: relative;
  width: 1000px;
  margin: 34px 0;
  text-align: center;
}
.title-block .line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #f0f1f0;
  z-index: -1;
}
.title-block span {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  padding: 8px;
  background-color: #f0f1f0;
  color: #525352;
  font-size: 18px;
  font-family: "GillSans", "Open Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.block-bestsellers {
  margin-bottom: 50px;
}
.list-bestsellers ul {
  padding-left: 0;
}
.list-bestsellers li {
  list-style-type: none;
  float: left;
  margin-left: 26px;
}
.list-bestsellers li:first-child {
  margin-left: 0;
}
.link-round-img {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  width: 178px;
  height: 178px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.block-wooden {
  background-image: url(../img/bg-wooden.jpg);
}
.block-reasons {
  width: 100%;
  height: 488px;
  padding-top: 40px;
}
.title-why {
  margin: 0;
  color: #ffffff;
  font-size: 48px;
  font-family: "GillSansBold", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.title-why .text-emph {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  padding: 3px 6px 3px 9px;
  background-color: rgba(94, 204, 183, 0.9);
}
.title-why .q-mark {
  margin-left: 15px;
  font-size: 112px;
  font-family: "GillSansBoldItalic", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: none;
  vertical-align: middle;
}
.list-reasons ul {
  padding-left: 0;
}
.list-reasons li {
  float: left;
  list-style-type: none;
  display: block;
  width: 180px;
  margin-left: 90px;
  text-align: center;
}
.list-reasons li span {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  padding: 5px 10px;
  background-color: rgba(48, 48, 48, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-family: "GillSansSemiBold", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.list-reasons li i {
  display: block;
  width: 175px;
  height: 175px;
  margin: 0 auto 25px;
}
.list-reasons li .icon-branch {
  background: url(../img/icon-branch.png);
}
.list-reasons li .icon-hipsta {
  background: url(../img/icon-hipsta.png);
}
.list-reasons li .icon-crown {
  background: url(../img/icon-crown.png);
}
.list-reasons li .icon-master {
  background: url(../img/icon-master.png);
}
.list-reasons li:first-child {
  margin-left: 0;
}
.block-greeting {
  height: 453px;
  padding-top: 100px;
  background: url(../img/bg-dirty.jpg);
}
.block-greeting .col {
  width: 50%;
  height: 228px;
  float: left;
}
.block-greeting .col-1 {
  padding-right: 32px;
}
.block-greeting .col-2 {
  padding-left: 32px;
  border-left: 1px solid #838383;
}
.block-greeting p {
  position: relative;
  margin: 0;
  margin-bottom: 45px;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 26px;
  z-index: 10;
}
.first-letter {
  position: absolute;
  top: 0;
  left: -10px;
  color: #dedede;
  font-size: 48px;
  font-family: "GillSansBold", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  z-index: -1;
}
/* ==========================================================================
    FOOTER
========================================================================== */
.footer {
  height: 75px;
  background-color: #161616;
}
.footer .location {
  margin-top: 30px;
  color: #ffffff;
  font-size: 12px;
  font-family: "GillSansSemiBold", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.footer .list-socials {
  padding-left: 0;
  margin-top: 24px;
}
.footer .list-socials li {
  float: left;
  list-style-type: none;
  margin-left: 15px;
}
.footer .list-socials .icon-social {
  display: block;
  width: 32px;
  height: 30px;
  background-image: url(../img/socials-sprite.png);
  background-repeat: no-repeat;
}
.footer .list-socials .icon-vkontakte {
  background-position: 0 0;
}
.footer .list-socials .icon-facebook {
  background-position: -30px 0;
}
.footer .list-socials .icon-instagram {
  background-position: -62px 0;
}
