/* ==========================================================================
    FONTS
========================================================================== */
@font-face {
  font-family: GillSans;
  src: url(../fonts/GILLSANS.ttf);
}
@font-face {
  font-family: GillSansBold;
  src: url(../fonts/GILLSANS-BOLD.ttf);
}
@font-face {
  font-family: GillSansBoldItalic;
  src: url(../fonts/GILLSANS-BOLDITALIC.ttf);
}
@font-face {
  font-family: GillSansItalic;
  src: url(../fonts/GILLSANS-ITALIC.ttf);
}
@font-face {
  font-family: GillSansLight;
  src: url(../fonts/GILLSANS-LIGHT.ttf);
}
@font-face {
  font-family: GillSansLightItalic;
  src: url(../fonts/GILLSANS-LIGHTITALIC.ttf);
}
@font-face {
  font-family: GillSansSemiBold;
  src: url(../fonts/GILLSANS-SEMIBOLD.ttf);
}
@font-face {
  font-family: GillSansSemiBoldItalic;
  src: url(../fonts/GILLSANS-SEMIBOLDITALIC.ttf);
}
@font-face {
  font-family: GillSansUltraBold;
  src: url(../fonts/GILLSANS-ULTRABOLD.ttf);
}
@font-face {
  font-family: Gillubcd;
  src: url(../fonts/GILLUBCD.ttf);
}
@font-face {
  font-family: Gilsanub;
  src: url(../fonts/GILSANUB.ttf);
}
/* ==========================================================================
    LESS
========================================================================== */
.inline-block {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
}
/* ==========================================================================
    GENERAL STYLES
========================================================================== */
html,
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%;
  color: #303030;
  background-color: #ffffff;
  font-size: 16px;
}
ul,
p {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea,
input:active,
textarea:active,
:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
  /* IE < 8 */
}
.clearfix:after {
  clear: both;
}
.list-inline li {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
}
.container {
  width: 1000px;
  margin: 0 auto;
}
/* ==========================================================================
    HEADER
========================================================================== */
.row-top {
  height: 32px;
  padding-top: 10px;
  background-color: #161616;
}
nav li {
  vertical-align: top;
}
nav a {
  font-family: "GillSansSemiBold", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  vertical-align: top;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
nav a:hover,
nav a.active {
  color: #de6761;
}
.nav-top ul {
  float: right;
  padding-left: 0;
  list-style-type: none;
}
.nav-top ul li {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
}
.nav-top li {
  margin-left: 40px;
  line-height: 12px;
}
.nav-top a {
  color: #ffffff;
  font-size: 12px;
}
.row-main {
  height: 70px;
  padding-top: 3px;
}
.logo-main {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  width: 149px;
  height: 55px;
  margin-right: 50px;
  background: url(../img/logo-main.png) no-repeat;
}
.nav-main {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  vertical-align: top;
}
.nav-main ul {
  margin-top: 25px;
}
.nav-main ul li {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
}
.nav-main li {
  margin-left: 70px;
  line-height: 16px;
}
.nav-main li:first-child {
  margin-left: 0;
}
.nav-main a {
  color: #262134;
  font-size: 16px;
}
.cart-block {
  float: right;
  margin-top: 12px;
}
.cart-block .cart-status,
.cart-block .cart {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  vertical-align: top;
}
.cart-block .cart-status {
  color: #000000;
  font-size: 11px;
  font-style: italic;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 12px 12px 0 0;
}
.cart-block .cart {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  width: 27px;
  height: 37px;
  padding-top: 11px;
  text-align: center;
  background: url(../img/cart.png) no-repeat;
  color: #000000;
  font-size: 18px;
  font-family: "GillSansSemiBold", "Open Sans", Helvetica, Arial, sans-serif;
}
.delivery {
  height: 60px;
  padding-top: 22px;
  background-color: #303030;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-family: "GillSansSemiBold", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.delivery .icon-car {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  width: 43px;
  height: 13px;
  margin-right: 5px;
  background: url(../img/car-delivery.png) no-repeat;
}
.delivery span {
  color: #5eccb7;
}
/* ==========================================================================
    MAIN
========================================================================== */
.banner-main {
  height: 540px;
  padding-top: 115px;
  background-image: url(../img/bunner-main.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.banner-main h2 {
  width: 383px;
  height: 215px;
  margin: 0 auto 40px;
  background: url(../img/necklaces.png) no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.btn {
  display: inline-block;
  *display: block;
  zoom: 1;
  /* IE < 8 */
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  background-color: #5eccb7;
  color: #ffffff;
  font-size: 12px;
  font-family: "GillSansSemiBoldItalic", "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 3px 3px 0 #ffffff;
  -moz-box-shadow: 3px 3px 0 #ffffff;
  box-shadow: 3px 3px 0 #ffffff;
}
